body {
	justify-content: center;
	padding-top: 100px;
}

.container {
	width: 800px;
    height:300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: rgb(44, 157, 6);
	padding: 10px;
	border: 1px solid gray;
	border-radius: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:20px;
    
}
